---
import { Image } from "astro:assets";
interface Props {
  altText: string;
  imageSrc: ImageMetadata;
  imageText: string;
  extLink?: string;
  secondaryText?: string;
}

const { altText, extLink, imageSrc, imageText, secondaryText } = Astro.props;
---

<div class=`relative h-64 max-w-sm ${extLink && "cursor-pointer"}`>
  <Image
    alt={altText}
    class="rounded-xl border-2 border-black h-full object-cover aspect-video"
    src={imageSrc}
    width="384"
    height="256"
  />
  <a
    class=`absolute inset-0 bg-gray-500 opacity-60 rounded-xl ${extLink && "hover:bg-gray-700"}`
    href={extLink}
    target="_blank"></a>
  <div
    class="absolute inset-0 flex flex-col items-center px-8 text-center justify-center pointer-events-none"
  >
    <h3 class="text-white text-3xl font-bold">{imageText}</h3>
    {secondaryText && <h4 class="text-white">{secondaryText}</h4>}
  </div>
</div>
